body {
    font-family: arial, sans-serif;
}
nav {
    font-size: 10pt;
}
#navRight{
    position: absolute;
    float: right;
    top: 24px;
    right: 20px;
}
a {
    margin: 10px;
}
div.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 10pt;
    background-color: #f2f2f2;
    color: #000;
    opacity: 0.75;
    border-top: 1px solid #e4e4e4;
}
a:link {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}
input[type="text"] {
    display: block;
    width: 400px;
    height: 36px;
    font-size: 16px;
    border: none;
    margin: 0px 20px;
}
input[type="text"]:focus {
    outline: none;
}
#Search {
    border:1px solid #dfe1e5;
    width:582px;
    height:40px;
    border-radius: 25px;
    background-image: url("magnifyingglass.png"), url("android-mic-icon-8.jpg");
    background-size: 14px, 26px;
    background-repeat: no-repeat, no-repeat;
    background-position: 97% 50%, 90% 50%;
}
#Search:hover{
    box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);
    width:582px;
    height:40px;
    border-radius: 25px;
    border: 1px solid #c6c6c6;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#signIn {
    width:80px; 
    height:30px; 
    margin:-8px; 
    margin-left:5px; 
    background-color: #4285F4;
    color:white;
    font-size: 15px;
}
#apps {
    opacity: 75%;
}